<!DOCTYPE html>
<html lang="en">
  <!-- HEAD -->
  <head>
    <!-- Begin meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" shrink-to-fit="no">
    <!-- End Meta -->
    <title>Log yourself asynchronously !</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>
  <!-- BODY -->
  <body>
    <span style="display: none;" id="csrf"><%= get_csrf_token() %></span>
    <!-- Flash notices -->
    <%= if (flash = get_flash(@conn, :info)) do %>
    <div class="flash-wrapper">
      <h2 class="flash-notice"><%= flash %></h2>
    </div>
    <% end %>
    <!-- Global header -->
    <div class="header-wrapper" id="header">
      <%= if logged_in?(@conn) do %>
        <%= render @view_module, "logged_in.html", assigns %>
      <% else %>
        <%= render @view_module, "logged_out.html", assigns %>
      <% end %>
    </div>
    <!-- Main content -->
    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <!-- Scripts -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
