/*
**  CSS Variables
*/

:root {
  --bg-color: #EEE;
}

/*
**  Regular classes
*/

body {
  background-color: var(--bg-color);
}

main, form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form input {
  margin: 4px;
}
