// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  text-align: center;
}

.task_table {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
}

.task_table td {
  text-align: center;
  padding: 5px;
  min-width: 50px;
}
