<!DOCTYPE html>
<html lang="en">
  <!-- HEAD -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MemberSpace</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>
  <!-- BODY -->
  <body>
    <!-- Notices -->
    <%= if (flash = get_flash(@conn, :info)) do %>
    <div class="flash-wrapper">
      <h3><%= flash %></h3>
    </div>
    <% end %>
    <!-- Header -->
    <h4>
      <%= link "Index", to: "/" %>
      <%= if logged_in?(@conn) do %>
        (<%= get_username(@conn) %>)
      <% end %>
    </h4>
    <!-- Main content -->
    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <!-- Scripts -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
