<!DOCTYPE html>
<html lang="en">
  <!-- HEAD -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MemberSpace</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>
  <!-- BODY -->
  <body>
    <!-- Notices -->
    <h3><%= get_flash(@conn, :info) %></h3>
    <!-- Header -->
    <%= if logged_in?(@conn) do %>
      <h4>Hello, <%= get_username(@conn) %></h4>
    <% end %>
    <!-- Main content -->
    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <!-- Scripts -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
